# EmDash
EMDASH_ENCRYPTION_KEY=

# AWS S3 Storage
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-southeast-1
AWS_S3_BUCKET=altix
AWS_S3_ENDPOINT=https://s3.ap-southeast-1.amazonaws.com

# Resend
RESEND_API_KEY=
RESEND_FROM_EMAIL="ALTIX <onboarding@resend.dev>"
